.issues-map-container {
  font-family: 'Blinker', sans-serif;
  padding: 15px;
  width: 750px;

  .map-container {
    width: 100%;

    .map {
      width: 100%;

      .issue-thumbnail {
        width: 250px;
      }
    }
  }
  
}


