<div class="container">
  <div class="content-container">
    <app-logo></app-logo>
    <div class="body-container">
      <div class="sign-up-title-container">
        <h1 class="sign-up-title">Let's get you signed up!</h1>
        <p class="body-text">Enter your details to create an account</p>
      </div>
      <div class="form-container">
        <form class="form-content" [formGroup]="signUpForm">
          <input class="email-field" type="email" formControlName="email" placeholder="Email">
          @if (signUpForm.controls['email'].invalid && 
              !signUpForm.controls['email'].pristine &&  
              signUpForm.controls['email'].touched &&
              signUpForm.controls['email'].value
              ) {
              <span class="invalid-email-text">Invalid email address</span>
            } @else {
              <span class="invalid-email-text">&nbsp;</span>
            }
          
          <input class="full-name-field" type="text" formControlName="fullName" placeholder="Full Name">
          @if (signUpForm.controls['fullName'].invalid && 
            !signUpForm.controls['fullName'].pristine &&  
            signUpForm.controls['fullName'].touched &&
            signUpForm.controls['fullName'].value
            ) {
            <span class="invalid-email-text">Invalid name</span>
          } @else {
            <span class="invalid-email-text">&nbsp;</span>
          }
          <input class="username-field" type="text" formControlName="username" placeholder="Username">
          <input class="password-field" [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Password" autocomplete="new-password">
          <img class="show-password-icon" src="assets/icons/eyecon.svg" (click)="showPassword = !showPassword" alt="Show password">
          <input class="confirm-password-field" 
          [type]="showConfirmPassword ? 'text' : 'password'"
            formControlName="confirmPassword" 
            placeholder="Confirm Password" 
          >
          <img class="show-confirm-password-icon" 
            src="assets/icons/eyecon.svg" 
            (click)="showConfirmPassword = !showConfirmPassword"
            alt="Show confirm password"
          >
          <span class="password-sub-text">Password must contain a number and at least 6 characters</span>
          <button type="submit">Sign Up</button>
        </form>
      </div>
      <div class="form-options-container">
        <div class="log-in">
          <div class="body-text">Have an account?</div>
          <div class="log-in-text">
            <a routerLink="/login">Log In</a>
          </div>
        </div>
      </div>
    </div>
  </div>              
</div>

