@import '../../../_variables.scss';

.issue-card-container {
  display: flex;
  gap: 10px;
  height: 126px;
  margin-bottom: 10px;
  background-color: $card-bg-color;

  &:hover {
    background-color: $hover-color;
  }

  .thumbnail-container {
    width: 150px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-body-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;

    .text-container {
      min-width: 60%;
      h3 {
        font-size: 1rem;
        margin: 5px 0 0 0;
      }
    }

    .info-container{
      min-width: 40%;
      margin: 5px 0 0 0;

      p {
        font-size: 0.8rem;
        margin: 5px 0;
      }

      .user-options {
        display: flex;
        gap: 25px;
        margin-top: 12px;
        font-weight: bold;

        .edit {
          color: $success-color;
          cursor: pointer;
        }

        .delete {
          color: $error-color;
          cursor: pointer;
        }
      }
    }
  }
}