<div class="issue-card-container" (click)="onIssueClick()">
  <div class="thumbnail-container">
    <img src="{{ issue.issueImages[0] }}" alt="issue thumbnail">
  </div>
  <div class="card-body-container">
    <div class="text-container">
      <h3>{{ issue.title }}</h3>
      <p>{{ truncateDescription(issue.description) }}</p>
    </div>
    <div class="info-container">
      <p>Reported by: {{ issue.reportedBy.username }}</p>
      <p>Date reported: {{ issue.dateReported }}</p>
      <p>Status: {{ issue.status }}</p>
      <div class="user-options">
        @if(userData && issue.reportedBy.userUUID === userData.userUUID){
          <div class="edit" (click)="onIssueEdit(issue, $event)">Edit</div>
          @if (isLoading) {
            <mat-progress-spinner
              mode="indeterminate"
              diameter="25"
              ></mat-progress-spinner>
          } @else {
            <div class="delete" (click)="onIssueDelete(issue.issueUUID, $event)">Delete</div>
          }
        }
        
        
    </div>
  </div>
</div>
