/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import '_variables';

body {
  font-family: 'Blinker', sans-serif;
}

.body-text {
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0;
  color: $primary-color;
}

mat-snack-bar-container {
  margin-bottom: 50px !important; /* Adjust this value as needed */
}
